<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Beacons</title>

    <script src="https://unpkg.com/htmx.org@2.0.6"></script>
</head>

<body>

    <h1>Beacons</h1>

    <div
        id="beacon-list"
        hx-get="{{ url_for('dashboard.beacon_status') }}"
        hx-trigger="load, every 5s"
        hx-target="#beacon-list"
        hx-swap="innerHTML"
    >
        {% include "partials/beacon_list.html" %}
    </div>

</body>
</html>
